@model TandemBooking.ViewModels.Booking.BookingViewModel
@{
    ViewData["Title"] = "Booking utført";
}
<h2>@ViewData["Title"]</h2>

<p>
    Nydelig!<br />
    Vi har mottatt din booking og vil kontakte deg så snart som mulig for å avtale flyturen din nærmere.
</p>

@section scripts
{
}