@model TandemBooking.ViewModels.Booking.BookingViewModel
@{
    ViewData["Title"] = "Booking completed";
}
<h2>@ViewData["Title"]</h2>

<p>
    Sweet! We've registered your booking and will contact you as soon as possible to arrage the details of your flight.
</p>

@section scripts
{
}