@model TandemBooking.ViewModels.Booking.BookingViewModel
@{
    ViewData["Title"] = "Booking";
    ViewData["CssClass"] = "booking";
}
    <h2>@ViewData["Title"]</h2>

    <p class="readwrap">
        Awesome!<br />We're super excited about showing you Voss from the air, and what paragliding is all about. Fill out
        the form below, and one of our pilots will contact you and arrange the details.
    </p>

    <div asp-validation-summary="ValidationSummary.All" class="text-danger"></div>

    <form id="BookingForm" asp-controller="Booking" asp-action="Index" method="post">
        <div class="form-group">
            <h5>
                <label asp-for="Date">
                    When would you like to fly?
                </label>
            </h5>
            <div id="datepicker" data-date='@Model.Date?.ToString("MM/dd/yyyy")'></div>
            <input type="hidden" asp-for="Date"/>
            <p>
                <span asp-validation-for="Date" class="text-danger"></span>
            </p>
        </div>

        <div class="info-text air-vertical">
            Please note that paragliding is very dependent on weather. Safety is paramount, and we will only fly if the weather conditions permit it. If the selected day turns out to be unflyable, your pilot will contact you to cancel the flight. You will of course not pay anything if we're unable to fly.
        </div>

        <p class="readwrap">
            <strong>Current prices</strong>
            <table class="table">
                <tr>
                    <td>Regular price</td>
                    <td class="text-right">1&nbsp;700,-</td>
                </tr>
                <tr>
                    <td>Extra for flights out of town</td>
                    <td class="text-right">800,-</td>
                </tr>
                <tr>
                    <td>Extra for boat-tow launch</td>
                    <td class="text-right">100,-</td>
                </tr>
                <tr>
                    <td>Extra for photos/video using the pilots equipment</td>
                    <td class="text-right">100,-</td>
                </tr>
            </table>
            Regular price covers transport to the start from Voss town center. Out-of-town surcharge is added when flying from places outside the normal starts around Voss (such as Aurland). All prices are in norwegian kroner and are paid directly to the pilot.
        </p>

        <div class="details">
            <strong>Your details</strong>
            <div class="form-group">
                <label asp-for="Name" class="small">
                    Please enter your name
                </label>
                <div class="row">
                    <div class="col-sm-5">
                        <input type="text" asp-for="Name" class="form-control" placeholder="Please enter your name" />
                    </div>
                    <div class="info col-sm-7">
                    </div>
                </div>
                <p>
                    <span asp-validation-for="Name" class="text-danger small"></span>
                </p>
            </div>

            <div class="form-group">
                <label asp-for="PhoneNumber" class="small">
                    Phone number
                </label>
                <div class="row">
                    <div class="col-sm-5">
                        <input type="tel" asp-for="PhoneNumber" class="form-control" placeholder="Please enter a phone number" />
                    </div>
                    <div class="info col-sm-7 small">
                        Your pilot will contact you on this phone number in order to arrange the details for your flight. It will not be used for any other purpose.
                    </div>
                </div>
                <p>
                    <span asp-validation-for="PhoneNumber" class="text-danger small"></span>
                </p>
            </div>

            <div class="form-group">
                <label asp-for="Email" class="small">
                    Email
                </label>
                <div class="row">
                    <div class="col-sm-5">
                        <input type="email" asp-for="Email" class="form-control" placeholder="Optionally enter an email address" />
                    </div>
                    <p class="info col-sm-7 small">
                        An optional email address the pilot can use to send pictures/video of your flight. Arrange the details with your pilot.
                    </p>
                </div>
                <p>
                    <span asp-validation-for="Email" class="text-danger small"></span>
                </p>
            </div>

            @*<div class="form-group">
                <label asp-for="Passengers">
                    Number of passengers
                </label>
                <div class="row">
                    <div class="col-sm-4">
                        <input type="number" asp-for="Passengers" class="form-control"/>
                    </div>
                    <p class="col-sm-8">
                        Are you a group wanting to experience paragliding together? Enter the number of people wanting to fly, and we'll find a suitable number pilots.
                    </p>
                </div>
                <p>
                    <span asp-validation-for="Passengers" class="text-danger"></span>
                </p>
            </div>*@

            <div class="form-group">
                <label asp-for="Comment">
                    Message to pilot
                </label>
                <div class="row">
                    <div class="col-sm-5">
                        <textarea asp-for="Comment" class="form-control"></textarea>
                    </div>
                    <p class="col-sm-7 small">
                        Extra information you want to share with the pilot, e.g. time constraints or other requirements.
                    </p>
                </div>
                <p>
                    <span asp-validation-for="Comment" class="text-danger small"></span>
                </p>
            </div>

            <p class="small">
                If you are a group of people wanting to fly together, please make one booking for each person, adding a note that you are a group of x who would like to fly together.
            </p>


            <p class="small">
                When you click the submit button below, we will try to find an available pilot who can give you a tandem flight. The pilot will call you to discuss the exact time and place you'll fly. If you enter an email address, we'll send you a confirmation email with name and phone number to your pilot.
            </p>

            <div class="text-center air-vertical">
                <button type="submit" class="btn btn-lg btn-action">Take me flying!</button>
            </div>
        </div>

</form>

@section scripts
{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }

    <script>
        $('.input-validation-error').parents('.form-group').addClass('has-error');

        $(document).ready(function () {
            var form = $('#BookingForm')
                , formData = $.data(form[0])
                , settings = formData.validator.settings
                // Store existing event handlers in local variables
                , oldErrorPlacement = settings.errorPlacement
                , oldSuccess = settings.success;

            settings.errorPlacement = function (label, element) {
                // Call old handler so it can update the HTML
                oldErrorPlacement(label, element);

                // Add Bootstrap classes to newly added elements
                label.parents('.form-group').addClass('has-error');
                label.addClass('text-danger');
            };

            settings.success = function (label) {
                // Remove error class from <div class="form-group">, but don't worry about
                // validation error messages as the plugin is going to remove it anyway
                label.parents('.form-group').removeClass('has-error');

                // Call old handler to do rest of the work
                oldSuccess(label);
            };
        });

    </script>

    <script>
        function isValidDate(date) {
            var today = new Date();
            
            if (today.getYear() < date.getYear()) {
                return true;
            }
            if (today.getYear() > date.getYear()) {
                return false;
            }
            if (today.getMonth() < date.getMonth()) {
                return true;
            }
            if (today.getMonth() > date.getMonth()) {
                return false;
            }
            return today.getDate() <= date.getDate();
        }

        function isValidMonth(date) {
            var today = new Date();

            if (today.getYear() < date.getYear()) {
                return true;
            }
            if (today.getYear() > date.getYear()) {
                return false;
            }
            return today.getMonth() <= date.getMonth();
        }

        function isValidYear(date) {
            var today = new Date();
            return today.getYear() <= date.getYear();
        }

        $('#datepicker').datepicker({
            format: "mm/dd/yyyy",
            beforeShowDay: isValidDate,
            beforeShowMonth: isValidMonth,
            beforeShowYear: isValidYear,
            maxViewMode: 2
        });
        $('#datepicker').on("changeDate", function () {
            $('#Date').val(
                $('#datepicker').datepicker('getFormattedDate')
            );
        });
    </script>
}