@model IndexViewModel
@{
    ViewData["Title"] = "Manage your account";
}

<h2>@ViewData["Title"].</h2>
<p class="text-success">@ViewData["StatusMessage"]</p>
<div>
    <h4>Change your account settings</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Password:</dt>
        <dd>
            @if (Model.HasPassword)
            {
                <a asp-controller="Manage" asp-action="ChangePassword">Change Password</a>
            }
            else
            {
                <a asp-controller="Manage" asp-action="SetPassword">Set Password</a>
            }
        </dd>
        <dt style="margin-top: 10px; margin-bottom: 10px;">Notifications</dt>
        <dd>
            <form asp-action="UpdateNotifications" method="post" class="form">
                <div class="form-group">
                    <div class="checkbox">
                        <input asp-for="EmailNotification" style="margin-left: 0" />
                        <label asp-for="EmailNotification"></label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <input asp-for="SmsNotification" style="margin-left: 0" />
                        <label asp-for="SmsNotification"></label>
                    </div>
                </div>
                <div>
                    <button type="submit" class="btn btn-primary">Save Notifications</button>
                </div>
            </form>
        </dd>
    </dl>
</div>
