@{
    ViewData["Title"] = "Frequently Asked Questions";
}
<h2>@ViewData["Title"]</h2>

<div>
    <dl>
        <dt>What is tandem paragliding?</dt>
        <dd>When flying tandem, you are flying with one of the experienced tandem instructors in Voss hang and paragliding club in a paraglider designed for two persons flying together. It is a wonderful way to safely experience paragliding and see Voss from the air.</dd>

        <dt>Who organizes tandem paragliding?</dt>
        <dd>In Norway, paragliding is organized through the clubs of the hang and paragliding-section of NLF (the Norwegian aerosports association). Voss hang and paraglidingclub the biggest club </dd>

        <dt>Who can fly?</dt>
        <dd>Anyone who can run 100 meters can fly. In order to launch the paraglider you and your instructor are running down a hill as fast as you can. </dd>

        <dt>What should I wear?</dt>
        <dd>Sensible shoes and something to keep you warm. You will run to launch the paraglider, so wearing high heels is definitely not recommended. Depending on the conditions you might have to hike 30-40 minutes to get to a suitable launch area.</dd>

        <dt>How much does it cost?</dt>
        <dd>Paragliding equipment is expensive and have to be replaced regularly. The pilot will charge you NOK 1600 to help cover his expenses. This includes transport to the takeoff. During <a href="http://ekstremsportveko.com">ekstremsportveko</a> the price is NOK 1650. </dd>

        <dt>Any other questions?</dt>
        <dd><a asp-controller="Home" asp-action="Contact">Contact us</a></dd>
    </dl>
</div>