@{
    ViewData["Title"] = "Kontakt";
    ViewData["CssClass"] = "contact";
}
<h2>@ViewData["Title"]</h2>

<p>Bodø Hang og Paragliderklubb<br/>
    <a href="http://www.bhpgk.club">www.bhpgk.club</a><br/>
</p>

<p>
    <strong>Tandemansvarlig:</strong><br/>
    Telefon: <a href="tel:+4797651008">976 51 008</a><br />
    E-post: <a href="mailto:bhpgktandem@gmail.com">bhpgktandem@gmail.com</a>
</p>
<p class="air-vertical">
    <a href="http://www.bhpgk.club" title="Bodø Hang og Paragliderklubb">
        <img src="~/images/logo.png" alt="Bodø Hang og Paragliderklubb logo" />
    </a>
</p>