@{
    ViewData["Title"] = "Contact";
    ViewData["CssClass"] = "contact";
}
<h2>@ViewData["Title"]</h2>

<p>Voss Hang og Paragliderklubb<br/>
    <a href="http://www.vosshpk.no">www.vosshpk.no</a><br/>
</p>

<p>
    <strong>Tandem Coordinator:</strong><br/>
    Phone: <a href="tel:+4746788600">46788600</a><br />
    Email: <a href="mailto:tandemvoss@gmail.com">tandemvoss@gmail.com</a>
</p>
<p class="air-vertical">
    <a href="http://vosshpk.no" title="Voss Hang og Paragliderklubb">
        <img src="~/images/logo.png" alt="Voss Hang og Paragliderklubb logo" />
    </a>
</p>