@{
    ViewData["Title"] = "Ofte Stilte Spørsmål";
}
<h2>@ViewData["Title"]</h2>

<div class="faq-wrap">
    <div class="faq-inner">
        <label>Hva er tandem paragliding?</label>
        <p>Når du flyr tandem, flyr du med en av de erfarne tandeminstruktørene i Bodø Hang &amp; Paraglider Klubb, i en paraglider laget for to personer som flyr sammen.
           Det er en fantastisk måte å trygt oppleve paraglidersporten og se Nord-Norge fra luften.</p>
    </div>
</div>
<div class="faq-wrap">
    <div class="faq-inner">
        <label>Hvem kan fly?</label>
        <p>For å holde oss innenfor sikkerhetsmarginene kan vi bare fly passasjerer som veier mindre enn 120 kg.
           I tillegg må du være i stand til å gjøre en kort spurt.
           For å lette med paraglider må du og instruktøren løpe ned en skrånende bakke så fort dere kan.</p>
           <p>OBS: Tandemturer der passasjer er under 18 år, krever underskrift av begge foreldre.</p>
    </div>
</div>
<div class="faq-wrap">
    <div class="faq-inner">
        <label>Hva koster det?</label>
        <p>
            <table class="table">
                <tr>
                    <td>Normalpris</td>
                    <td class="text-right">1&nbsp;900,-</td>
                </tr>
<!--                <tr>
                    <td>Pris under Midnattsol Cupen</td>
                    <td class="text-right">1&nbsp;900,-</td>
                </tr> -->
                <tr>
                    <td>Andre startområder utenfor byen</td>
                    <td class="text-right">Avtales med pilot</td>
                </tr>
<!-- 
                <tr>
                    <td>Extra for photos/video using the pilots equipment</td>
                    <td class="text-right">200,-</td>
                </tr>
                -->
            </table>
            Normalpris dekker transport til start fra klubbhytta på Løp, eller Bodø sentrum.
            Tillegg for turer med andre startområder utenfor byen, avtales med pilot.
            Alle priser er i norske kroner, og betales til klubbens Vipps-konto <strong>139746</strong>.
        </p>
    </div>
</div>
<div class="faq-wrap">
    <div class="faq-inner">
        <label>Hvem organiserer tandem paragliderturer?</label>
        <p>I Norge så er paragliding organisert igjennom klubbene i hang, paragliding og speedriding-seksjonen i NLF (Norges Luftsportforbund).
            Bodø Hang og Paragliderklubb ble stiftet i 1975, og arrangerer Midnattsol Cupen hver sommer.</p>
    </div>
</div>
<div class="faq-wrap">
    <div class="faq-inner">
        <label>Er jeg forsikret?</label>
        <p>Om et uhell mot formodning skulle oppstå under turen, er du dekket av pilotens forsikring. Forsikringsdokumenter er tilgjengelige <a href="http://nlf.no/hangglidingparagliding/forsikringene-v-re">på NLF hang- og paraglider-seksjonens nettside.</a></p>
    </div>
</div>
<div class="faq-wrap">
    <div class="faq-inner">
        <label>Hva skal jeg ha på meg?</label>
        <p>Fornuftig skovalg, og varme klær. Dere må løpe for å komme opp i luften med paraglideren. Avhengig av forhold og startsted kan man noen ganger måtte påregne en fottur på 30-40 minutter for å kommer til et egnet startsted. Normalt kjører vi til start i Bodø.</p>
    </div>
</div>
<div class="air-vertical">
        <label>Andre spørsmål?</label>
        <p><a asp-controller="Home" asp-action="Contact" class="btn btn-action">Kontakt oss</a></p>
</div>