@{
    ViewData["Title"] = "Frequently Asked Questions";
}
<h2>@ViewData["Title"]</h2>

<div class="faq-wrap">
    <div class="faq-inner">
        <label>What is tandem paragliding?</label>
        <p>When flying tandem, you are flying with one of the experienced tandem instructors in Voss hang and paragliding club in a paraglider designed for two persons flying together. It is a wonderful way to safely experience paragliding and see Voss from the air.</p>
    </div>
</div>
<div class="faq-wrap">
    <div class="faq-inner">
        <label>Who organizes tandem paragliding?</label>
        <p>In Norway, paragliding is organized through the clubs of the hang and paragliding-section of NLF (the Norwegian aerosports association). Voss hang and paraglidingclub the biggest club </p>
    </div>
</div>
<div class="faq-wrap">
    <div class="faq-inner">
        <label>Who can fly?</label>
        <p>Anyone who can run 100 meters can fly. In order to launch the paraglider you and your instructor are running down a hill as fast as you can. </p>
    </div>
</div>
<div class="faq-wrap">
    <div class="faq-inner">
        <label>What should I wear?</label>
        <p>Sensible shoes and something to keep you warm. You will run to launch the paraglider, so wearing high heels is definitely not recommended. Depending on the conditions you might have to hike 30-40 minutes to get to a suitable launch area.</p>
    </div>
</div>
<div class="faq-wrap">
    <div class="faq-inner">
        <label>How much does it cost?</label>
        <p>Paragliding equipment is expensive and have to be replaced regularly. The pilot will charge you NOK 1600 to help cover his expenses. This includes transport to the takeoff. During <a href="http://ekstremsportveko.com">ekstremsportveko</a> the price is NOK 1650. </p>
    </div>
</div>
<div class="air-vertical">
        <label>Any other questions?</label>
        <p><a asp-controller="Home" asp-action="Contact" class="btn btn-action">Contact us</a></p>
</div>