@{
    ViewData["Title"] = "Home Page";
    ViewData["CssClass"] = "home";
}

<div class="middlebar">
    <div class="container">
        <div class="teaser">
            <h1>Wanna fly?</h1>
            <p class="air-vertical">Experience tandem paragliding with the pilots from Voss hang and paragliding club and see Voss from the air!</p>

            <p><a asp-controller="booking" asp-action="index" class="btn btn-action" role="button">book your flight here</a></p>
        </div>
    </div>
</div>

@section scripts{ 
    <script>dh.inithome();</script>
}