@using TandemBooking.ViewModels.Booking;
@using TandemBooking.Services;

@inject ContentService contService;
@{
    string lang = ViewContext.RouteData.Values["lang"].ToString();
    contService.setLanguage(lang);
}
@{
    ViewData["Title"] = "Home Page";
    ViewData["CssClass"] = "home";
}

<div class="middlebar">
    <div class="container">
        <div class="teaser">
            <h1>@contService.content.front.welcome</h1>
            <p class="air-vertical">@contService.content.front.text</p>
            <p><a asp-controller="Booking" asp-action="Index" class="btn btn-action" role="button">@contService.content.front.button</a></p>
        </div>
    </div>
</div>

@section scripts{
    <script>dh.inithome();</script>
}