@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Wanna fly?</h1>
    <p>Experience tandem paragliding with the pilots from Voss hang and paragliding club and see Voss from the air!</p>
    <p><a asp-controller="Booking" asp-action="Index" class="btn btn-primary btn-lg" role="button">Book your flight here</a></p>
</div>
