@{
    ViewData["Title"] = "Home Page";
    ViewData["CssClass"] = "home";
}

<div class="middlebar">
    <div class="container">
        <div class="teaser">
            <h1>Wanna fly?</h1>
            <p class="air-vertical">Experience tandem paragliding with the pilots from Voss hang and paragliding club and see Voss from the air!</p>

            <p class="air-vertical" style="color:#ff7777">Due to the corona situation we are currently unable to fly tandems. Hopefully we'll be able to resume tandem flying soon. Please check back for updates.</p>
            @*<p><a asp-controller="Booking" asp-action="Index" class="btn btn-action" role="button">Book your flight here</a></p>*@
        </div>
    </div>
</div>

@section scripts{ 
    <script>dh.inithome();</script>
}