@{
    ViewData["Title"] = "Home Page";
    ViewData["CssClass"] = "home";
}

<div class="middlebar">
    <div class="container">
        <div class="teaser">
            <h1>Wanna fly?</h1>
            <p class="air-vertical">Experience tandem paragliding with the pilots from Voss hang and paragliding club and see Voss from the air!</p>

            <p class="air-vertical" style="color:#ff7777">
                Corona update:<br />
                From June 25th, we are able to fly tandems again under the current health regulations. It is important that anyone with COVID-19 symptoms stays at home, and can not fly tandem. Furthermore, we are unable to accept anyone in the <a href="https://www.fhi.no/nettpub/coronavirus/fakta/risikogrupper/#grupper-med-moderat-hoey-risiko">moderate/high</a> risk group, as defined by the health authorities.
            </p>

            <p><a asp-controller="booking" asp-action="index" class="btn btn-action" role="button">book your flight here</a></p>
        </div>
    </div>
</div>

@section scripts{ 
    <script>dh.inithome();</script>
}