@{
    ViewData["Title"] = "Hjem";
    ViewData["CssClass"] = "home";
}

<div class="middlebar">
    <div class="container">
        <div class="teaser">
            <h1>Vil du fly?</h1>
            <p class="air-vertical">
                Opplev Nord-Norges natur ved å ta en paraglider tandemtur
                med en av pilotene i Bodø Hang &amp; Paraglider Klubb!</p>
            <p><a asp-controller="Booking" asp-action="Index" class="btn btn-action" role="button">Book turen din her</a></p>
        </div>
    </div>
</div>

@section scripts{ 
    <script>dh.inithome();</script>
}