@page "/admin/paymentAccounts"
@attribute [Authorize(Policy = TandemBooking.Services.Policy.IsAdmin)]

<h2>Payment Accounts</h2>

<div>
    <ul class="list list-inline">
        <li<button class="btn btn-default" @onclick="ImportAccountsIZettle">Import accounts from iZettle</button></li>
        <li><button class="btn btn-default" @onclick="StartInsert">Add Account</button></li>
    </ul>
</div>

@if (IsInsertMode)
{
    <div class="row">
        <div class="col-md-8">
            <PaymentAccountEdit PaymentAccountId="null" OnComplete="(() => EndInsert())" />
        </div>
    </div>
}

@if (EditId != null)
{
    <div class="row">
        <div class="col-md-8">
            <PaymentAccountEdit PaymentAccountId="EditId" OnComplete="(() => EndEdit())" />
        </div>
    </div>
}

<table class="table">
    <tr>
        <th>Type</th>
        <th>Id</th>
        <th>Name</th>
        <th></th>
    </tr>

    @if (Accounts != null)
    {
        @foreach (var account in Accounts)
        {
            <tr class="@(!account.Active ? "text-muted": "")">
                <td>
                    @account.PaymentType.ToString()
                </td>
                <td>@account.ExternalRef</td>
                <td>@account.Name</td>
                <td class="text-right">
                    <button class="btn btn-default" @onclick="(() => StartEdit(account))">Edit</button>
                    @if (account.Active)
                    {
                        <button class="btn btn-danger" @onclick="(() => Disable(account))">Disable</button>
                    }
                    else
                    {
                        <button class="btn btn-success" @onclick="(() => Enable(account))">Enable</button>
                    }
                </td>
            </tr>

        }
    }
</table>